<section id="proyectos" class="container">
    <h2 name="proyectos" class="text-center text-decoration-underline mb-3">Proyectos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-bg-dark position-relative">
                <button class="btn btn-warning btn-sm btn-edit position-absolute" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="bi bi-pencil-fill"></i></button>
                <img src="https://raw.githubusercontent.com/Blackpachamame/Blackpachamame.github.io/main/desafíos-frontendmentor/four-card-feature-section/design/desktop-preview.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proyecto #1</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark position-relative">
                <button class="btn btn-warning btn-sm btn-edit position-absolute" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="bi bi-pencil-fill"></i></button>
                <img src="https://raw.githubusercontent.com/Blackpachamame/Blackpachamame.github.io/main/desafíos-frontendmentor/four-card-feature-section/design/desktop-preview.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proyecto #2</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark position-relative">
                <button class="btn btn-warning btn-sm btn-edit position-absolute" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="bi bi-pencil-fill"></i></button>
                <img src="https://raw.githubusercontent.com/Blackpachamame/Blackpachamame.github.io/main/desafíos-frontendmentor/four-card-feature-section/design/desktop-preview.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Proyecto #3</h5>
                </div>
            </div>
        </div>
    </div>
</section>