<section id="educacion" class="container column justify-content-center">
    <h2 name="educacion" class="text-center text-decoration-underline mb-3 col-12">Educación</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit></app-btn-edit>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit></app-btn-edit>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit></app-btn-edit>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded">
        <div class="modal-content bg-dark text-white text-center p-5">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-white-50 mb-3">Please enter your login and password!</p>
            <form class="row justify-content-center g-3">
                <div class="form-floating text-primary">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating text-primary">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button type="submit" class="col-3 btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>