<section id="educacion" class="container column justify-content-center">
    <div class="position-relative">
        <h2 name="educacion" class="text-center text-decoration-underline mb-3 col-12">Educación</h2>
        <app-btn-add class="position-absolute" data-bs-toggle="modal" data-bs-target="#educacionModal"></app-btn-add>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit-delete-educacion></app-btn-edit-delete-educacion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit-delete-educacion></app-btn-edit-delete-educacion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit-delete-educacion></app-btn-edit-delete-educacion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>