<section id="educacion" class="container column justify-content-center">
    <div class="position-relative">
        <h2 name="educacion" class="text-center text-decoration-underline mb-3 col-12">Educación</h2>
        <app-btn-add class="position-absolute" data-bs-toggle="modal" data-bs-target="#educacionModal"></app-btn-add>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit></app-btn-edit>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit></app-btn-edit>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-4 row justify-content-center align-items-center p-3 pb-0 pb-md-3">
                        <img src="../../../assets/logo-uncoma.png" class="img-fluid rounded-start px-0" alt="logo">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">Universidad Nacional del Comahue</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text mb-0"><small class="text-muted">2019 - 2022</small></p>
                                <app-btn-edit></app-btn-edit>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded">
        <div class="modal-content bg-dark text-white text-center p-5">
            <h4 class="fw-bold mb-2 text-uppercase">Agregar educación</h4>
            <form class="row justify-content-center g-3">
                <div class="gap-2">
                    <label for="formFile" class="form-label">Seleccionar imagen</label>
                    <input class="form-control" type="file" id="formFile">

                    <label for="formNameEstablecimiento" class="form-label">Nombre establecimiento</label>
                    <input type="text" class="form-control" id="formNameEstablecimiento"
                        placeholder="Example input placeholder">

                    <label for="formDescripcion" class="form-label">Descripción del título</label>
                    <input type="text" class="form-control" id="formDescripcion"
                        placeholder="Another input placeholder">

                    <select class="form-select" aria-label="Disabled select">
                        <option selected>Seleccionar año de inicio</option>
                        <option value="1">2021</option>
                        <option value="2">2022</option>
                        <option value="3">2023</option>
                    </select>

                    <select class="form-select" aria-label="Disabled select">
                        <option selected>Seleccionar año de finalización</option>
                        <option value="1">2021</option>
                        <option value="2">2022</option>
                        <option value="3">2023</option>
                    </select>
                </div>
                <button type="submit" class="col-3 btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>