<section id="hello" class="d-flex justify-content-center align-items-center">
    <div class="bg-cover"></div>
    <div class="d-flex flex-column align-items-center">
        <figure class="foto-perfil">
            <img src="../../../assets/homero.jpg" alt="foto-perfil">
        </figure>
        <div class="title text-light text-center">
            <h1 class="mb-3">Blackpachamame</h1>
            <p><i><span class="tooltiptext">¿</span>Desarrollador web<span class="tooltiptext">?</span><br>No<span
                        class="tooltiptext">,</span> cobro por anticipado</i></p>
        </div>
    </div>
</section>